.env
.env.*
!*.example
/vendor/
/node_modules/
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/.idea/
/.vscode/
npm-debug.log*
yarn-error.log*
.DS_Store
/composer.phar
.phpunit.cache/
.phpunit.result.cache
/public/storage
/storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/
/database/*.sqlite
/database/*.sqlite3
*.log
*.gz
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
*.tar.gz
/dist/
public/build/

# Ignore vendor assets under public by default, but include Leaflet marker images
/public/vendor/*
!/public/vendor/leaflet/
/public/vendor/leaflet/*
!/public/vendor/leaflet/images/
/public/vendor/leaflet/images/*
!/public/vendor/leaflet/images/*.png
